<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pizzeria</title>

<!-- Bootstrap CSS -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
</head>
<body>
	
	<header>      
        <div class="d-flex flex-row-reverse me-2" th:if="${#authorization.expression('isAuthenticated()')}">
            <h6>Benvenuto, <span th:text="${#authentication.name}"></span>! <a class="btn btn-primary" th:href="@{/logout}">Logout</a></h6>
        </div>
        <div class="d-flex flex-row-reverse me-2" th:unless="${#authorization.expression('isAuthenticated()')}">
            <h6>Non sei autenticato. <a class="btn btn-primary" th:href="@{/login}">Login</a></h6>
        </div>
    </header>

    <div class="container">
        
        <form class="my-4">
            <label for="search">Cerca per nome:</label>
            <input type="text" id="search" name="name" th:value="${name}">
            <button class="btn btn-primary" type="submit">Cerca</button>
        </form>
        
        <h1>Pizzas:</h1>
                
        <ul th:if="${not #lists.isEmpty(pizzas)}">
            <li th:each="pizza : ${pizzas}" th:object="${pizza}">
                <a th:href="@{/pizzas/{id}(id=*{id})}">
                    <p th:text="${pizza.name}"></p>
            </li>
        </ul>
        
        <div sec:authorize="hasAuthority('ADMIN')">
            <a class="btn btn-success my-4" href="/pizzas/new">Crea una nuova Pizza</a>	
		</div>

        
        <div th:if="${#lists.isEmpty(pizzas)}">
            <p>Nessuna pizza trovata</p>
            <a class="btn btn-primary" href="/">Torna indietro</a>
        </div>
    </div>


<!-- Bootstrap Bundle with Popper -->
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>